<div id="tweet_template">
<div class="js-stream-item stream-item stream-item expanding-stream-item" data-item-type="tweet">
    <div class="tweet original-tweet js-stream-tweet js-actionable-tweet js-hover js-profile-popup-actionable js-original-tweet>
        <i class="dogear"></i>
        <div class="content">
            <div class="stream-item-header">
                <a
                    class="account-group js-account-group js-action-profile js-user-profile-link"
                    href="/$screen_name$" data-user-id="1652541">
                    <img class="avatar js-action-profile-avatar"
                        src="$profile_image_url$"
                        alt="$name$">
                        <strong class="fullname js-action-profile-name show-popup-with-id">$name$</strong>
                        <span>‏</span>
                        <span class="username js-action-profile-name">
                            <s>@</s>
                            <b>$screen_name$</b>
                        </span>
                </a>
            </div>
            <p class="js-tweet-text">$text$</p>
            <div class="stream-item-footer">
                <div class="context">
                </div>
                <ul class="tweet-actions js-actions">
                    <li class="action-reply-container">
                        <a class="with-icn js-action-reply" data-modal="tweet-reply"
                            href="#" title="Reply">
                            <i class="sm-reply"></i>
                            <b>Reply</b>
                        </a>
                    </li>
                    <li class="action-rt-container">
                        <a class="with-icn js-toggle-rt" data-modal="tweet-retweet"
                            href="#">
                            <i class="sm-rt"></i>
                            <b>
                                <span class="retweet" title="Retweet">Retweet</span>
                            </b>
                        </a>
                    </li>
                    <li class="action-fav-container">
                        <a class="with-icn js-toggle-fav" href="#">
                            <i class="sm-fav"></i>
                            <b>
                                <span class="favorite" title="Favorite">Favorite</span>
                            </b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>